# Firebase SDK
# https://firebase.google.com/docs/web/setup
# 1. Create a Firebase project and register your app
# 2. Copy firebaseConfig variable to clipboard and open up node in your terminal
# 3. Run `JSON.stringify({ apiKey:... })` and copy response
# 4. Paste it in quotes e.g NEXT_PUBLIC_FIREBASE_CONFIG_JSON='{"apiKey":...'
NEXT_PUBLIC_FIREBASE_CONFIG_JSON=
# Google Tag Manager ID
# https://tagmanager.google.com/
# 1. Create a new workspace on Google Tag Manager
# 2. Copy and paste the ID with the format GTM-XXXXXXX
NEXT_PUBLIC_GTM_ID=
# Facebook app_id
# https://developers.facebook.com/apps/redirect/dashboard
# 1. Create a new facebook app
# 2. Copy and paste App ID in quotes below e.g NEXT_PUBLIC_FACEBOOK_APP_ID='1234567891234567'
NEXT_FACEBOOK_APP_ID=
