name = "arclight-canary-dev"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]
main = "src/index.ts"

[vars]
ENDPOINT_CORE = "http://localhost:4600"
ENDPOINT_ARCLIGHT = "https://preprod.arclight.org"
# percentage of requests that will be sent to the arclight endpoint
ENDPOINT_ARCLIGHT_WEIGHT = "50"

[env.stage]
name = "arclight-canary-stage"
routes = [
  { pattern = "canary-stage.arclight.org/*", zone_name = "arclight.org" }
]

[env.stage.vars]
ENDPOINT_CORE = "https://core-stage.arclight.org"
ENDPOINT_ARCLIGHT = "https://preprod.arclight.org"
# percentage of requests that will be sent to the arclight endpoint
ENDPOINT_ARCLIGHT_WEIGHT = "50"

[env.prod]
name = "arclight-canary-prod"
routes = [
  { pattern = "canary.arclight.org/*", zone_name = "arclight.org" }
]

[env.prod.vars]
ENDPOINT_CORE = "https://core.arclight.org"
ENDPOINT_ARCLIGHT = "https://api.arclight.org"
# percentage of requests that will be sent to the arclight endpoint
ENDPOINT_ARCLIGHT_WEIGHT = "90"
