# Add files here to ignore them from prettier formatting

/dist
/coverage
schema.graphql
**/__generated__/**
!apps/watch/src/components/Videos/__generated__/testData.ts
/libs/locales/**/*.json
.prettierignore
.docusaurus/
.storybook/static/mockServiceWorker.js
.nx/
.next/
.terraform/
playwright-report/
!apis/api-languages/src/__generated__/languageSlugs.ts