version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VARIANT: 16
        USER_UID: 1000
        USER_GID: 1000
    volumes:
      - ..:/workspaces:delegated
      - core-node-doppler:/home/node/.doppler
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:arangodb
    # Uncomment the next line to use a non-root user for all processes.
    # user: node
    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
    environment:
      PGHOST: db
      PGPASSWORD: postgres
      PGUSER: postgres
      PGDATABASE: postgres
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  arangodb:
    image: arangodb/arangodb:3.8.8
    volumes:
      - arango-data:/var/lib/arangodb3
    environment:
      ARANGO_NO_AUTH: 1
      ARANGODB_OVERRIDE_DETECTED_TOTAL_MEMORY: 4GB
    ports:
      - 8529:8529
  db:
    image: postgres:13
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
volumes:
  arango-data:
  core-node-doppler:
  postgres-data:
