@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-VariableFont_wght.ttf') format('woff2-variations');
  src: url('./Montserrat-VariableFont_wght.ttf') format('woff2')
    tech('variations');
  font-weight: 100 1000;
}
