project: default
source:
  repoURL: https://github.com/JesusFilm/core
  path: infrastructure/kube/ingress-nginx
  targetRevision: stage
  helm:
    valueFiles:
      - values.yaml
destination:
  server: https://kubernetes.default.svc
  namespace: ingress-nginx
syncPolicy:
  automated:
    prune: true
    selfHeal: true
    enabled: true
