@import 'tailwindcss';

@import '../../../libs/journeys/ui/src/globals.css';

@theme {
  --breakpoint-xs: 0px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1400px;
  --breakpoint-xxl: 1536px;
}

@layer components {
  @import 'swiper/css';
  @import 'swiper/css/a11y';
  @import 'swiper/css/mousewheel';
  @import 'swiper/css/navigation';
  @import 'swiper/css/pagination';

  /* Swiper pagination overrides */
  .swiper-pagination > .swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: 1 !important;
  }

  .swiper-pagination
    > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #d6d6d6 !important;
  }
}
