{{- $tokenSecretName := .Values.dopplerSecrets.tokenSecretName | default "doppler-token-secret" }}
apiVersion: secrets.doppler.com/v1alpha1
kind: DopplerSecret
metadata:
  name: {{ .Values.dopplerSecrets.plausible.name }}
  namespace: default
spec:
  tokenSecret:
    name: {{ $tokenSecretName }}
  project: {{ .Values.dopplerSecrets.plausible.project }}
  config: {{ .Values.dopplerSecrets.plausible.config }}
  managedSecret:
    name: {{ .Values.dopplerSecrets.plausible.managedSecret.name }}
    namespace: {{ .Values.dopplerSecrets.plausible.managedSecret.namespace }}
---
apiVersion: secrets.doppler.com/v1alpha1
kind: DopplerSecret
metadata:
  name: {{ .Values.dopplerSecrets.externaldns.name }}
  namespace: default
spec:
  tokenSecret:
    name: {{ $tokenSecretName }}
  project: {{ .Values.dopplerSecrets.externaldns.project }}
  config: {{ .Values.dopplerSecrets.externaldns.config }}
  managedSecret:
    name: {{ .Values.dopplerSecrets.externaldns.managedSecret.name }}
    namespace: {{ .Values.dopplerSecrets.externaldns.managedSecret.namespace }}


