name = "jf-proxy-dev"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]
main = "src/index.ts"

[vars]
RESOURCES_PROXY_DEST = "localhost:4310"
WATCH_PROXY_DEST = "localhost:4300"

[env.stage]
name = "jf-proxy-stage"
logpush = true
routes = [
  { pattern = "develop.jesusfilm.org/watch*", zone_name = "jesusfilm.org" },
  { pattern = "develop.jesusfilm.org/journeys*", zone_name = "jesusfilm.org" },
  { pattern = "develop.jesusfilm.org/resources", zone_name = "jesusfilm.org" },
  { pattern = "develop.jesusfilm.org/resources/", zone_name = "jesusfilm.org" },
  { pattern = "develop.jesusfilm.org/bin/*", zone_name = "jesusfilm.org" },
  { pattern = "develop.jesusfilm.org/api/*", zone_name = "jesusfilm.org" },
  { pattern = "develop.jesusfilm.org/_next/*", zone_name = "jesusfilm.org" }
]

[env.stage.vars]
RESOURCES_PROXY_DEST = "f92c2b4c-6a7f-4d56-9c1b-dc8c1e8e0c37.jesusfilm.org"
WATCH_PROXY_DEST = "c89a34d4-4b06-4219-ad8b-c7289106424d.jesusfilm.org"

[env.stage.observability.logs]
enabled = true

[env.prod]
name = "jf-proxy-prod"
logpush = true
routes = [
  { pattern = "www.jesusfilm.org/watch*", zone_name = "jesusfilm.org" },
  { pattern = "www.jesusfilm.org/journeys*", zone_name = "jesusfilm.org" },
  { pattern = "www.jesusfilm.org/resources", zone_name = "jesusfilm.org" },
  { pattern = "www.jesusfilm.org/resources/", zone_name = "jesusfilm.org" },
  { pattern = "www.jesusfilm.org/bin/*", zone_name = "jesusfilm.org" },
  { pattern = "www.jesusfilm.org/api/*", zone_name = "jesusfilm.org" },
  { pattern = "www.jesusfilm.org/_next/*", zone_name = "jesusfilm.org" }
]

[env.prod.vars]
RESOURCES_PROXY_DEST = "a3f6b24e-8d57-4c79-b25f-9e2a7d3f421c.jesusfilm.org"
WATCH_PROXY_DEST = "1ee8fdb1-3cb5-40fd-9258-35d589917b4a.jesusfilm.org"

[env.prod.observability.logs]
enabled = true

