/* 
- Swiper slides don't have sx. Cannot use breakpoints.
- Custom swiper slides not registered by swiper/react. Cannot use styled.
- Flakey result and clutters code when applying styles by js onEvent trigger.
- Add styles here as last resort
*/

.jfp-watch .swiper-slide {
  width: 232px;
  min-width: 232px;
}

.jfp-watch .swiper-wrapper {
  transition: 'transform 0.25s ease, padding 0.1s ease-out';
}

@media (min-width: 345px) {
  .jfp-watch .swiper-slide {
    max-width: 232px;
  }
}

@media (min-width: 1200px) {
  .jfp-watch .swiper-wrapper {
    transition: 'transform 0.75s ease-out 0.15s, padding 0.15s ease-out';
  }
  .jfp-watch .swiper-slide {
    width: 325px;
    min-width: 325px;
    max-width: 325px;
  }
}

@media (min-width: 1500px) {
  .jfp-watch .swiper-slide {
    width: 260px;
    min-width: 260px;
    max-width: 260px;
  }
}

@media (min-width: 1800px) {
  .jfp-watch .swiper-slide {
    width: 310px;
    min-width: 310px;
    max-width: 310px;
  }
}

@media (min-width: 2000px) {
  .jfp-watch .swiper-slide {
    width: 330px;
    min-width: 330px;
    max-width: 330px;
  }
}

@media (min-width: 2100px) {
  .jfp-watch .swiper-slide {
    width: 260px;
    min-width: 260px;
    max-width: 260px;
  }
}

@media (min-width: 2200px) {
  .jfp-watch .swiper-slide {
    width: 274px;
    min-width: 274px;
    max-width: 274px;
  }
}

@media (min-width: 2300px) {
  .jfp-watch .swiper-slide {
    width: 290px;
    min-width: 290px;
    max-width: 290px;
  }
}

@media (min-width: 2400px) {
  .jfp-watch .swiper-slide {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
  }
}

@media (min-width: 2580px) {
  .jfp-watch .swiper-slide {
    width: 326px;
    min-width: 326px;
    max-width: 326px;
  }
}

@media (min-width: 2800px) {
  .jfp-watch .swiper-slide {
    width: 352px;
    min-width: 352px;
    max-width: 352px;
  }
}

@media (min-width: 3000px) {
  .jfp-watch .swiper-slide {
    width: 298px;
    min-width: 298px;
    max-width: 298px;
  }
}

@media (min-width: 3200px) {
  .jfp-watch .swiper-slide {
    width: 318px;
    min-width: 318px;
    max-width: 318px;
  }
}

@media (min-width: 3400px) {
  .jfp-watch .swiper-slide {
    width: 338px;
    min-width: 338px;
    max-width: 338px;
  }
}
