/* Control Bar */
.vjs-jfp .vjs-control-bar {
  background: transparent !important;
  margin-bottom: 25px;
  padding-right: 14%;
  padding-left: 14%;
}

/* Progress Bar */
.vjs-jfp .vjs-progress-holder,
.vjs-jfp .vjs-play-progress,
.vjs-jfp .vjs-slider-horizontal {
  line-height: 24px;
  height: 8px;
  border-radius: 10px;
}

.vjs-jfp .vjs-progress-holder .vjs-load-progress,
.vjs-jfp .vjs-progress-holder .vjs-load-progress div {
  border-radius: 10px;
}
.vjs-jfp .vjs-slider-horizontal {
  background: #6d6f81 !important;
}

.vjs-jfp .vjs-slider-bar,
.vjs-jfp .vjs-mouse-display {
  background: #ef3340 !important;
}

.vjs-jfp .vjs-slider-horizontal {
  color: #ef3340 !important;
  font-size: 24px !important;
}

.vjs-jfp .vjs-play-progress:before {
  display: none;
}

/* Icons */
.vjs-jfp .vjs-button > .vjs-icon-placeholder:before {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.vjs-jfp .vjs-volume-panel,
.vjs-jfp .vjs-audio-button,
.vjs-jfp .vjs-subtitles-button,
.vjs-jfp .vjs-fullscreen-control {
  display: flex;
  align-items: center;
  margin-left: 26px;
}

/* Remaining Time Display */
.vjs-jfp .vjs-remaining-time-display {
  font-size: 14px;
}

/* Big Play Button */
.vjs-jfp.vjs-paused .vjs-big-play-button {
  display: none;
}

@media only screen and (max-width: 1400px) {
  /* Control Bar */
  .vjs-jfp .vjs-control-bar {
    padding-right: 2%;
    padding-left: 2%;
  }
}

@media only screen and (max-width: 1600px) {
  /* Control Bar */
  .vjs-jfp .vjs-control-bar {
    padding-right: 5%;
    padding-left: 5%;
  }
}

/* Custom Icons */
/* .vjs-icon-audio:before,
.vjs-jfp .vjs-audio-button .vjs-icon-placeholder:before {
  content: url('../icons/audio.svg');
}

.vjs-icon-subtitles:before,
.vjs-jfp .vjs-subtitles-button .vjs-icon-placeholder:before {
  content: url('../icons/subtitle.svg');
} */
