.vjs-jfp .vjs-slider-bar,
.vjs-jfp .vjs-mouse-display {
  background: #ef3340 !important;
}

.vjs-jfp .slider-bar {
  color: #ef3340 !important;
}

.vjs-jfp .vjs-slider-horizontal {
  color: #ef3340 !important;
  font-size: 24px !important;
}

.vjs-jfp .vjs-slider-horizontal {
  background: #6d6f81 !important;
}

.vjs-jfp .vjs-button > .vjs-icon-placeholder:before {
  font-size: 30px;
  line-height: 1;
}

.vjs-icon-audio:before,
.vjs-jfp .vjs-audio-button .vjs-icon-placeholder:before {
  content: url('../icons/audio.svg');
}

.vjs-icon-subtitles:before,
.vjs-jfp .vjs-subtitles-button .vjs-icon-placeholder:before {
  content: url('../icons/subtitle.svg');
}

.vjs-jfp .vjs-control-bar {
  background: transparent !important;
  margin-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.vjs-jfp .vjs-progress-holder,
.vjs-jfp .vjs-load-progress,
.vjs-jfp .vjs-slider-horizontal {
  line-height: 24px;
  height: 8px;
  border-radius: 10px;
}

.vjs-jfp .vjs-progress-holder,
.vjs-jfp .vjs-play-progress {
  line-height: 24px;
  height: 8px;
  border-radius: 10px;
}

.vjs-jfp.vjs-paused .vjs-big-play-button {
  display: none;
}
