name: API Deployment

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      env:
        required: true
        type: string
      branch:
        required: true
        type: string
      endpoint_url:
        required: true
        type: string
    secrets:
      APOLLO_KEY:
        required: true
      AWS_DEFAULT_REGION:
        required: true
      JFP_AWS_ACCESS_KEY_ID:
        required: true
      JFP_AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_NETWORK_CONFIG:
        required: true

jobs:
  build-and-deploy:
    environment: Production
    env:
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
      ENV_SUFFIX: ${{ inputs.branch }}
      ECS_CLUSTER: jfp-ecs-cluster-${{ inputs.env }}
      ECS_SERVICE: ${{ inputs.name}}-${{ inputs.env }}-service
      ECR_REPOSITORY: jfp-${{ inputs.name }}-${{ inputs.env }}
      ECR_SEED_REPOSITORY: jfp-${{ inputs.name }}-seed-${{ inputs.env }}
      IMAGE_TAG: ${{ github.sha }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
          restore-keys: node-modules-

      - name: NPM Install
        run: npm install --silent

      - name: nx Install
        run: npm install -g nx --silent

      - name: rover Install
        run: npm install -g @apollo/rover@0.16.2

      - name: Get affected apps
        run: echo "apps=$(nx affected:apps --plain --base=HEAD~1 --head=HEAD)" >> $GITHUB_OUTPUT
        id: affected-apps

      - name: Has Prisma
        id: has_prisma
        uses: andstor/file-existence-action@v2
        with:
          files: 'apps/${{inputs.name}}/db/schema.prisma'

      - name: Prisma Migrate
        if: steps.has_prisma.outputs.files_exists == 'true' && contains(steps.affected-apps.outputs.apps, inputs.name)
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: prisma-generate
          projects: ${{ inputs.name }}

      - name: Build ${{ inputs.name }}
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: build
          projects: ${{ inputs.name }}
          args: --c=production

      # ECS Deployment
      - name: Configure ECS AWS credentials
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Login to Amazon ECR
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        id: login-ecr-ecs
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push the image to Amazon ECR
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        id: build-image-ecs
        env:
          ECR_REGISTRY: ${{ steps.login-ecr-ecs.outputs.registry }}
        run: |
          # Build a docker container and push it to ECR 
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -t $ECR_REGISTRY/$ECR_REPOSITORY:latest . -f apps/${{ inputs.name }}/Dockerfile
          echo "Pushing image to ECR..."
          docker push -a $ECR_REGISTRY/$ECR_REPOSITORY
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Restart task definition
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        run: |
          aws ecs update-service --force-new-deployment --service $ECS_SERVICE --cluster $ECS_CLUSTER

      - name: Update stage Apollo managed subgraph
        if: contains(steps.affected-apps.outputs.apps, inputs.name) && contains(inputs.branch, 'stage')
        run: |
          rover subgraph publish API-GATEWAY-0zuda@stage --name ${{ inputs.name }} --routing-url ${{ inputs.endpoint_url }} --schema apps/${{ inputs.name }}/schema.graphql

      - name: Update prod Apollo managed subgraph
        if: contains(steps.affected-apps.outputs.apps, inputs.name) && contains(inputs.branch, 'main')
        run: |
          rover subgraph publish API-GATEWAY-0zuda@current --name ${{ inputs.name }} --routing-url ${{ inputs.endpoint_url }} --schema apps/${{ inputs.name }}/schema.graphql

      - name: Get affected app seed
        run: echo "dbs=$(git diff --name-only HEAD~1 HEAD | grep 'apps/${{ inputs.name }}/db/seed.ts')" >> $GITHUB_OUTPUT
        id: affected-dbs

      - name: Build, tag, and push the image to Amazon ECR
        if: contains(steps.affected-dbs.outputs.dbs, inputs.name)
        id: build-image-ecs-seed
        env:
          ECR_REGISTRY: ${{ steps.login-ecr-ecs.outputs.registry }}
        run: |
          # Build a docker container and push it to ECR 
          docker build -t $ECR_REGISTRY/$ECR_SEED_REPOSITORY:$IMAGE_TAG -t $ECR_REGISTRY/$ECR_SEED_REPOSITORY:latest . -f apps/${{ inputs.name }}/db/Dockerfile
          echo "Pushing image to ECR..."
          docker push -a $ECR_REGISTRY/$ECR_SEED_REPOSITORY
          echo "image=$ECR_REGISTRY/$ECR_SEED_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Seed Database
        if: contains(steps.affected-dbs.outputs.dbs, inputs.name)
        run: |
          aws ecs run-task --task-definition $ECR_SEED_REPOSITORY --cluster $ECS_CLUSTER --launch-type FARGATE --network-configuration "${{ secrets.AWS_NETWORK_CONFIG }}"
