name: API push build
on:
  push:
    branches:
      - main
jobs:
  api-journeys:
    uses: JesusFilm/core/.github/workflows/api-deploy-worker.yml@main
    with:
      name: api-journeys
      env: prod
      branch: ${{ github.ref_name }}
      endpoint_url: http://api-journeys.service.internal:4001/graphql
    secrets:
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      JFP_AWS_ACCESS_KEY_ID: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
      JFP_AWS_SECRET_ACCESS_KEY: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
      AWS_NETWORK_CONFIG: ${{ secrets.AWS_NETWORK_CONFIG }}
  api-tags:
    uses: JesusFilm/core/.github/workflows/api-deploy-worker.yml@main
    with:
      name: api-tags
      env: prod
      branch: ${{ github.ref_name }}
      endpoint_url: http://api-tags.service.internal:4006/graphql
    secrets:
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      JFP_AWS_ACCESS_KEY_ID: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
      JFP_AWS_SECRET_ACCESS_KEY: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
      AWS_NETWORK_CONFIG: ${{ secrets.AWS_NETWORK_CONFIG }}
  api-users:
    uses: JesusFilm/core/.github/workflows/api-deploy-worker.yml@main
    with:
      name: api-users
      env: prod
      branch: ${{ github.ref_name }}
      endpoint_url: http://api-users.service.internal:4002/graphql
    secrets:
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      JFP_AWS_ACCESS_KEY_ID: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
      JFP_AWS_SECRET_ACCESS_KEY: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
      AWS_NETWORK_CONFIG: ${{ secrets.AWS_NETWORK_CONFIG }}
  api-languages:
    uses: JesusFilm/core/.github/workflows/api-deploy-worker.yml@main
    with:
      name: api-languages
      env: prod
      branch: ${{ github.ref_name }}
      endpoint_url: http://api-languages.service.internal:4003/graphql
    secrets:
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      JFP_AWS_ACCESS_KEY_ID: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
      JFP_AWS_SECRET_ACCESS_KEY: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
      AWS_NETWORK_CONFIG: ${{ secrets.AWS_NETWORK_CONFIG }}
  api-videos:
    uses: JesusFilm/core/.github/workflows/api-deploy-worker.yml@main
    with:
      name: api-videos
      env: prod
      branch: ${{ github.ref_name }}
      endpoint_url: http://api-videos.service.internal:4004/graphql
    secrets:
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      JFP_AWS_ACCESS_KEY_ID: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
      JFP_AWS_SECRET_ACCESS_KEY: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
      AWS_NETWORK_CONFIG: ${{ secrets.AWS_NETWORK_CONFIG }}
  api-media:
    uses: JesusFilm/core/.github/workflows/api-deploy-worker.yml@main
    with:
      name: api-media
      env: prod
      branch: ${{ github.ref_name }}
      endpoint_url: http://api-media.service.internal:4005/graphql
    secrets:
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      JFP_AWS_ACCESS_KEY_ID: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
      JFP_AWS_SECRET_ACCESS_KEY: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
      AWS_NETWORK_CONFIG: ${{ secrets.AWS_NETWORK_CONFIG }}

  api-gateway:
    uses: JesusFilm/core/.github/workflows/api-gateway-prod-worker.yml@main
    secrets:
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      JFP_AWS_ACCESS_KEY_ID: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
      JFP_AWS_SECRET_ACCESS_KEY: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
