name: API Deployment

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      env:
        required: true
        type: string
      branch:
        required: true
        type: string
      endpoint_url:
        required: true
        type: string
    secrets:
      HIVE_TOKEN:
        required: true
      AWS_DEFAULT_REGION:
        required: true
      JFP_AWS_ACCESS_KEY_ID:
        required: true
      JFP_AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_NETWORK_CONFIG:
        required: true
      NX_CLOUD_ACCESS_TOKEN:
        required: true

jobs:
  build-and-deploy:
    environment: Production
    env:
      HIVE_TOKEN: ${{ secrets.HIVE_TOKEN }}
      ENV_SUFFIX: ${{ inputs.branch }}
      ECS_CLUSTER: jfp-ecs-cluster-${{ inputs.env }}
      ECS_SERVICE: ${{ inputs.name}}-${{ inputs.env }}-service
      ECR_REPOSITORY: jfp-${{ inputs.name }}-${{ inputs.env }}
      IMAGE_TAG: ${{ github.sha }}
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
    runs-on: blacksmith-2vcpu-ubuntu-2204
    strategy:
      matrix:
        node-version: [22]
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: npx nx-cloud start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"
      - uses: nrwl/nx-set-shas@v4
      - name: Get affected apps
        run: |
          echo "apps=$(npx ts-node tools/scripts/affected-apps.ts --projects apis/api-*)" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT
        id: affected-apps
      - uses: useblacksmith/setup-node@v5
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        with:
          node-version: ${{ matrix.node-version }}

      - name: Get Node Version
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        id: node-version
        run: echo "version=$(node -v)" >> $GITHUB_OUTPUT

      - name: Mount NPM Cache
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ github.repository }}-${{ steps.node-version.outputs.version }}-npm-cache
          path: ~/.npm
      - name: Mount node_modules
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ github.repository }}-${{ steps.node-version.outputs.version }}-node-modules
          path: ./node_modules
      - name: NPM Install
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        run: npm install --silent
      - name: Prisma Generate
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: prisma-generate
        env:
          DISABLE_ERD: true
      - name: Build ${{ inputs.name }}
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: build
          projects: ${{ inputs.name }}
          args: --c=production

      # ECS Deployment
      - name: Configure ECS AWS credentials
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Login to Amazon ECR
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        id: login-ecr-ecs
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image to Amazon ECR
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        id: build-image-ecs
        uses: useblacksmith/build-push-action@v1
        with:
          context: .
          file: apis/${{ inputs.name }}/Dockerfile
          push: true
          tags: |
            ${{ steps.login-ecr-ecs.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
            ${{ steps.login-ecr-ecs.outputs.registry }}/${{ env.ECR_REPOSITORY }}:latest
          build-args: |
            SERVICE_VERSION=${{ env.IMAGE_TAG }}

      - name: Set image output
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        run: |
          echo "image=${{ steps.login-ecr-ecs.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}" >> $GITHUB_OUTPUT

      - name: Restart task definition
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        run: |
          aws ecs update-service --force-new-deployment --service $ECS_SERVICE --cluster $ECS_CLUSTER

      - name: Update Hive managed subgraph
        if: contains(steps.affected-apps.outputs.apps, inputs.name)
        run: |
          npx hive schema:publish apis/${{ inputs.name }}/schema.graphql --service ${{ inputs.name }} --url ${{ inputs.endpoint_url }} --github
