name: autofix.ci
on:
  workflow_call:
  push:
    branches: [main, feature/*]
  pull_request:
    branches: [main, feature/*]
  merge_group:
    branches: [main]
jobs:
  lint:
    runs-on: blacksmith-2vcpu-ubuntu-2204
    strategy:
      matrix:
        node-version: [22]
    env:
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
      NODE_OPTIONS: '--max-old-space-size=8192'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch other branches
        if: ${{ github.event_name == 'pull_request' }}
        run: git fetch --no-tags --prune --depth=5 origin $GITHUB_BASE_REF
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --silent
      - name: Cache lint artifacts
        uses: actions/cache@v4
        with:
          path: ./.cache
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-lint-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-lint-
      - name: generate prisma imports
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: prisma-generate
          all: true
        env:
          DISABLE_ERD: true
      - name: Install apollo and graphql for codegen
        run: npm i -g apollo graphql # npm because apollo is deprecated and conflicts with graphql
      - name: Codegen
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: codegen
          all: true
      - name: Run Prettier
        run: pnpm run prettier:fix --check '!./.cache'
      - name: Run ESLint
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: lint
          args: --fix
      - name: Type Check
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: type-check
      - name: Extract Translations
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: extract-translations
      - name: Subgraph Check
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: subgraph-check
        env:
          HIVE_TOKEN: ${{ secrets.HIVE_PROD_READ_ONLY_TOKEN }}
      - name: lint branch name
        if: ${{ github.event_name == 'pull_request' }}
        run: pnpm exec validate-branch-name -t $GITHUB_HEAD_REF
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
        with:
          commit-message: 'fix: lint issues'
