name: Crowdin Action
on:
  push:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  synchronize-with-crowdin:
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: crowdin action
        uses: crowdin/github-action@v2.9.1
        with:
          upload_translations: false
          download_translations: true
          create_pull_request: false
          localization_branch_name: 00-00-CI-chore-update-translations
          pull_request_title: 'chore: update translations from crowdin'
          commit_message: 'chore: update translations from crowdin'
          pull_request_labels: 'effort: 1, priority: soon, type: chore'
          pull_request_base_branch_name: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
