name: E2E Tests
on:
  workflow_dispatch:
    inputs:
      TargetAction:
        description: 'Pick e2e to run e2e tests or update-snapshots'
        type: choice
        default: 'e2e'
        required: true
        options:
          - 'e2e'
          - 'update-snapshots'
      TargetTests:
        description: 'Pick the tests you want to run'
        type: choice
        default:
        required: true
        options:
          - 'docs-e2e'
          - 'journeys-e2e'
          - 'journeys-admin-e2e'
          - 'watch-e2e'
      TargetAppUrl:
        description: 'Test app URL without / at the end'
        type: string
        required: true
jobs:
  E2E_Tests:
    timeout-minutes: 60
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
      - uses: useblacksmith/setup-node@v5
        with:
          node-version: 22
      - name: Get Node Version
        id: node-version
        run: echo "version=$(node -v)" >> $GITHUB_OUTPUT
      - name: Mount NPM Cache
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ github.repository }}-${{ steps.node-version.outputs.version }}-npm-cache
          path: ~/.npm
      - name: Mount node_modules
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ github.repository }}-${{ steps.node-version.outputs.version }}-node-modules
          path: ./node_modules
      - name: Mount playwright cache
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ github.repository }}-playwright-cache
          path: ~/.cache/ms-playwright
      - name: Install dependencies
        run: npm install --silent
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx nx run ${{ inputs.TargetTests }}:${{ inputs.TargetAction }}
        env:
          # Nx Cloud - Use separate cache for manual E2E tests
          NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
          DEPLOYMENT_URL: ${{ inputs.TargetAppUrl }}
          PLAYWRIGHT_EMAIL: ${{ secrets.PLAYWRIGHT_EMAIL }}
          PLAYWRIGHT_PASSWORD: ${{ secrets.PLAYWRIGHT_PASSWORD }}
          PLAYWRIGHT_USER: ${{ secrets.PLAYWRIGHT_USER }}
          PLAYWRIGHT_TEAM_NAME: ${{ secrets.PLAYWRIGHT_TEAM_NAME }}
          EXAMPLE_EMAIL_TOKEN: ${{ secrets.EXAMPLE_EMAIL_TOKEN }}
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ inputs.TargetTests }}-playwright-report
          path: |
            playwright-report/
            apps/${{ inputs.TargetTests }}/src/e2e/
            test-results
          retention-days: 30
