name: ECS FrontEnd Deployment
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      env:
        required: true
        type: string
      branch:
        required: true
        type: string
    secrets:
      AWS_DEFAULT_REGION:
        required: true
      JFP_AWS_ACCESS_KEY_ID:
        required: true
      JFP_AWS_SECRET_ACCESS_KEY:
        required: true
      DOPPLER_API_ANALYTICS_TOKEN:
        required: true
      DOPPLER_API_GATEWAY_TOKEN:
        required: true
      DOPPLER_API_JOURNEYS_TOKEN:
        required: true
      DOPPLER_API_LANGUAGES_TOKEN:
        required: true
      DOPPLER_API_USERS_TOKEN:
        required: true
      DOPPLER_API_MEDIA_TOKEN:
        required: true
      DOPPLER_ARCLIGHT_TOKEN:
        required: true
      DOPPLER_CMS_TOKEN:
        required: true
      DOPPLER_DOCS_TOKEN:
        required: true
      DOPPLER_JOURNEYS_TOKEN:
        required: true
      DOPPLER_JOURNEYS_ADMIN_TOKEN:
        required: true
      DOPPLER_PLAYER_TOKEN:
        required: true
      DOPPLER_WATCH_TOKEN:
        required: true
      DOPPLER_WATCH_MODERN_TOKEN:
        required: true
      DOPPLER_WATCH_ADMIN_TOKEN:
        required: true
      DOPPLER_GITHUB_SERVICE_TOKEN:
        required: true
      DATADOG_API_KEY:
        required: true
jobs:
  build-and-deploy:
    environment: Production
    env:
      ENV_SUFFIX: ${{ inputs.branch }}
      ECS_CLUSTER: jfp-ecs-cluster-${{ inputs.env }}
      ECS_SERVICE: ${{ inputs.name}}-${{ inputs.env }}-service
      ECR_REPOSITORY: jfp-${{ inputs.name }}-${{ inputs.env }}
      IMAGE_TAG: ${{ github.sha }}
      DOPPLER_CONFIG: ${{ inputs.env == 'prod' && 'prd' || 'stg' }}
    runs-on: blacksmith-2vcpu-ubuntu-2204
    strategy:
      matrix:
        node-version: [22]
    timeout-minutes: 20
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: nx Install
        run: pnpm add -g nx
      - name: Install Doppler
        uses: dopplerhq/cli-action@v3
      - name: Prisma Generate
        uses: mansagroup/nrwl-nx-action@v3
        with:
          targets: prisma-generate
          all: true
      - name: Build ${{ inputs.name }}
        uses: mansagroup/nrwl-nx-action@v3
        env:
          DOPPLER_API_ANALYTICS_TOKEN: ${{ secrets.DOPPLER_API_ANALYTICS_TOKEN }}
          DOPPLER_API_GATEWAY_TOKEN: ${{ secrets.DOPPLER_API_GATEWAY_TOKEN }}
          DOPPLER_API_JOURNEYS_TOKEN: ${{ secrets.DOPPLER_API_JOURNEYS_TOKEN }}
          DOPPLER_API_LANGUAGES_TOKEN: ${{ secrets.DOPPLER_API_LANGUAGES_TOKEN }}
          DOPPLER_API_USERS_TOKEN: ${{ secrets.DOPPLER_API_USERS_TOKEN }}
          DOPPLER_API_MEDIA_TOKEN: ${{ secrets.DOPPLER_API_MEDIA_TOKEN }}
          DOPPLER_ARCLIGHT_TOKEN: ${{ secrets.DOPPLER_ARCLIGHT_TOKEN }}
          DOPPLER_CMS_TOKEN: ${{ secrets.DOPPLER_CMS_TOKEN }}
          DOPPLER_DOCS_TOKEN: ${{ secrets.DOPPLER_DOCS_TOKEN }}
          DOPPLER_JOURNEYS_TOKEN: ${{ secrets.DOPPLER_JOURNEYS_TOKEN }}
          DOPPLER_JOURNEYS_ADMIN_TOKEN: ${{ secrets.DOPPLER_JOURNEYS_ADMIN_TOKEN }}
          DOPPLER_PLAYER_TOKEN: ${{ secrets.DOPPLER_PLAYER_TOKEN }}
          DOPPLER_WATCH_TOKEN: ${{ secrets.DOPPLER_WATCH_TOKEN }}
          DOPPLER_WATCH_MODERN_TOKEN: ${{ secrets.DOPPLER_WATCH_MODERN_TOKEN }}
          DOPPLER_WATCH_ADMIN_TOKEN: ${{ secrets.DOPPLER_WATCH_ADMIN_TOKEN }}
          DOPPLER_GITHUB_SERVICE_TOKEN: ${{ secrets.DOPPLER_GITHUB_SERVICE_TOKEN }}
          NEXT_PUBLIC_VERCEL_ENV: prod
          NEXT_PUBLIC_VERCEL_GIT_COMMIT_SHA: ${{ github.sha }}
        with:
          targets: ${{ inputs.name == 'cms' && 'fetch-secrets' || 'fetch-secrets, extract-translations, build' }}
          projects: ${{ inputs.name }}
          args: --c=production
      - name: upload sourcemaps to datadog
        uses: mansagroup/nrwl-nx-action@v3
        env:
          GIT_COMMIT_SHA: ${{ github.sha }}
          DATADOG_API_KEY: ${{ secrets.DATADOG_API_KEY }}
        with:
          targets: upload-sourcemaps
          projects: ${{ inputs.name }}
      - name: Configure ECS AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.JFP_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.JFP_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr-ecs
        uses: aws-actions/amazon-ecr-login@v2
      - name: Set up Docker Buildx
        uses: useblacksmith/setup-docker-builder@v1

      - name: Build and push Docker image to Amazon ECR
        id: build-image-ecs
        uses: useblacksmith/build-push-action@v2
        with:
          context: .
          file: apps/${{ inputs.name }}/Dockerfile
          push: true
          tags: |
            ${{ steps.login-ecr-ecs.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
            ${{ steps.login-ecr-ecs.outputs.registry }}/${{ env.ECR_REPOSITORY }}:latest
          build-args: |
            SERVICE_VERSION=${{ env.IMAGE_TAG }}
      - name: Set image output
        run: |
          echo "image=${{ steps.login-ecr-ecs.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}" >> $GITHUB_OUTPUT
      - name: Restart task definition
        run: |
          aws ecs update-service --force-new-deployment --service $ECS_SERVICE --cluster $ECS_CLUSTER
