name: Main - Pull Request
on:
  pull_request:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 15.x
      - uses: bahmutov/npm-install@v1
      - name: Fetch other branches
        run: git fetch --no-tags --prune --depth=5 origin $GITHUB_BASE_REF
      - uses: mansagroup/nrwl-nx-action@v2
        with:
          targets: lint
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 15.x
      - uses: bahmutov/npm-install@v1
      - name: Fetch other branches
        run: git fetch --no-tags --prune --depth=5 origin $GITHUB_BASE_REF
      - uses: mansagroup/nrwl-nx-action@v2
        with:
          targets: build
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 15.x
      - uses: bahmutov/npm-install@v1
      - name: Fetch other branches
        run: git fetch --no-tags --prune --depth=5 origin $GITHUB_BASE_REF
      - uses: mansagroup/nrwl-nx-action@v2
        with:
          targets: test