name: Vercel Deploy
on:
  push:
    branches: [main, stage]
  pull_request:
    branches: [main, feature/*]
jobs:
  affected:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
          restore-keys: node-modules-
      - run: npm ci
      - uses: nrwl/nx-set-shas@v3
      - id: set-matrix
        name: set matrix app to affected array
        run: |
          AFFECTED=$(npx nx affected:apps --plain)
          if [ -n "${AFFECTED}" ]; then
            echo "::set-output name=matrix::[\"${AFFECTED// /\",\"}\"]"
          fi
  deploy:
    needs: affected
    strategy:
      matrix:
        app: ${{fromJson(needs.affected.outputs.matrix)}}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
          restore-keys: node-modules-
      - name: NPM Install
        run: npm install --silent
      - uses: nrwl/nx-set-shas@v3
      - name: vercel preview deployment
        if: ${{ github.event_name == 'pull_request' }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          DOCS_VERCEL_PROJECT_ID: ${{ secrets.DOCS_VERCEL_PROJECT_ID }}
          JOURNEYS_VERCEL_PROJECT_ID: ${{ secrets.JOURNEYS_VERCEL_PROJECT_ID }}
          JOURNEYS_ADMIN_VERCEL_PROJECT_ID: ${{ secrets.JOURNEYS_ADMIN_VERCEL_PROJECT_ID }}
          WATCH_VERCEL_PROJECT_ID: ${{ secrets.WATCH_VERCEL_PROJECT_ID }}
        run: npx nx run-many --target=deploy --projects=${{ matrix.app }}
      - name: vercel production deployment
        if: ${{ github.ref == 'refs/heads/main' && github.event_name != 'pull_request' }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          DOCS_VERCEL_PROJECT_ID: ${{ secrets.DOCS_VERCEL_PROJECT_ID }}
          JOURNEYS_VERCEL_PROJECT_ID: ${{ secrets.JOURNEYS_VERCEL_PROJECT_ID }}
          JOURNEYS_ADMIN_VERCEL_PROJECT_ID: ${{ secrets.JOURNEYS_ADMIN_VERCEL_PROJECT_ID }}
          WATCH_VERCEL_PROJECT_ID: ${{ secrets.WATCH_VERCEL_PROJECT_ID }}
        run: npx nx run-many --target=deploy --projects=${{ matrix.app }} --prod
      - name: Generate GitHub deploy preview comment
        env:
          APP: ${{ matrix.app }}
        run: ./tools/scripts/generate-deploy-preview-comment.sh
      - uses: mshick/add-pr-comment@v2
        name: Add deploy preview comment
        with:
          message-path: .github/deploy_preview_comment.md
          message-id: ${{ matrix.app }}
